.promocoes {
    width: 100%;
    display: flex;
    justify-content: space-evenly  ;
    align-items: center;
    margin: 30px 0;
}

.promocoes-1 {
    cursor: pointer;
    background-color: red;
    width: 600px;
    margin: 10px;
    height: 250px;
}

.promocoes-2 {
    background-color: blue;
    width: 600px;
    margin: 10px;
    height: 250px;
    cursor: pointer;
}

.promocoes-3 {
    background-color: yellow;
    width: 100%;
    margin: 0px 30px;
    height: 250px;
    cursor: pointer;
}