:root {
    --cor1: #0030AD;
    --cor2: #00237A;
    --cor3: #0048FF;
    --cor4: #00113B;
    --cor5: #0074E0;
}

.container_index {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-index {
    background: #fff;
    box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
}